.container {
    max-width: 800px;
}

section {
    margin: 22px 0;
}

header {
    margin-top: 12px;
}

img {
    image-orientation: from-image;
}

form {
    width: 75%;
    max-width: 600px;
    margin: auto;
}

body {
    text-align: justify;
}
